.container {
    margin-top: 0px;
    margin-left: 20%;
    margin-right: 21%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    width: 58%;
    position: fixed;
}

ul {
    margin: 0;
    list-style: none;
    display: flex;
}

li {
    font-size: 18px;
    padding: 15px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

a {
    text-decoration: none;
    color: rgb(110, 107, 116);
}

a .Viewplans:hover {
    color: white;

}

.logo {
    font-size: 35px;
    font-family: "DM Serif Display", serif;
    font-weight: 600;
    color: rgb(44, 38, 65);
}

.home,
.About,
.Contact {
    color: rgb(110, 107, 116);
    font-weight: 550;
    text-transform: uppercase;
}

.Viewplans {
    color: rgb(110, 107, 116);
    font-weight: 550;
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 3px;
}

a:hover {
    color: rgb(36, 35, 35);
}

.Viewplans:hover {
    background-color: rgb(44, 38, 65);
    color: white;
    cursor: pointer;
}