* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black
}

.container {
    padding: 16px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    display: block;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 19.8%;
    padding-right: 20%;


}

.logo {
    font-size: 37px;
    font-weight: 550;
    color: rgb(44, 39, 64);
    font-family: "DM Serif Display", serif;
}

.logo:hover {
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(110, 107, 116);
    padding: 0px;
    margin: 0px;
}

.nav {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-left: 40px;
    text-transform: uppercase;
}

.navbar a:hover {
    color: black;
}

.Lightbutton {
    border: 1px solid grey;
    color: rgb(110, 107, 116);
    padding: 17px;
    border-radius: 3px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-left: 40px;
    text-transform: uppercase;
}

.Lightbutton:hover {
    background-color: rgb(44, 38, 65);
    color: white;
    cursor: pointer;
}

.sec-container {
    background-color: #2d2640;
    padding-top: 150px;
    padding-left: 390px;
    margin: 0;
    padding-bottom: 30px;
}

.flex {
    color: white;
}

.content {
    display: flex;
}

.line {
    width: 200px;
    height: 2px;
    background-color: #bcb8c4;
    margin-bottom: 15px;
}

.h1 {
    font-size: 58px;
    width: 480px;
    font-weight: 600;
}

.lorem {
    width: 490px;
    font-size: 17px;
    color: rgb(189, 184, 197);
    font-family: "karla", sans-serif;
    line-height: 30px;
    margin: 20px 0px;
    letter-spacing: 1px;
}

.Darkbutton {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid white;
    color: white;
    padding: 17px;
    border-radius: 5px;
    width: 150px;
}

.Darkbutton:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

.img1 {
    margin-bottom: -160px;
    margin-left: 150px;
}

.third-container {
    background-color: white;
    padding-top: 200px;
    padding-left: 390px;
    margin: 0px;
}

.img2 {
    width: 520px;
}

.third {
    margin-left: 100px;
    padding-top: 100px;

}

.knowmore {
    width: 135px;
    margin: 0px;
    font-size: 18px;
    text-transform: none;
}

.insure {
    font-size: 50px;
    margin-bottom: 40px;
    font-weight: 600;
}

.h3 {
    width: 490px;
    font-size: 18px;
    color: grey;
    font-family: "karla", sans-serif;
    line-height: 30px;
    margin: 20px 0px;
    letter-spacing: 1px;
}

.fourth-container {
    background-color: white;
    padding-top: 150px;
    padding-left: 390px;
    margin: 0px;
    padding-bottom: 100px;
}

.ulflex {
    display: flex;
    margin-top: 50px;

}

.h2 {
    font-size: 45px;
    width: 480px;
    font-weight: 600;
    color: rgb(44, 39, 64);
}

.cog {
    border: 1px solid rgb(139, 180, 241);
    background-color: rgb(139, 180, 241);
    width: 55px;
    padding: 10px 13px;
    border-radius: 30px;
}

.cogwheel {
    width: 28px;

}

.h4 {
    font-size: 32px;
    font-weight: 600;
    color: rgb(44, 39, 64);
    margin-top: 30px;

}

.lor2 {
    margin-top: 18px;
    width: 330px;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #6e6b74;
}