* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.head {
    background-image: url(assets/bg1.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 990px;
    position: relative;
}